body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#adware {
    display: none;
    width: 700px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -350px;
    background-image: url(../img/adware.png);
    background-color: #ffe903;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    z-index: 1;
}

#closeBtn {
    display: none;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

#navbar {
    visibility:hidden;
    width: 80%;
    padding: 20px 10%;
    position: fixed;
    top: -100px;
    transition: 1s;
}

#logo {
    float: left;
}

#logo a {
    text-decoration: none;
    color: white;
    font-size: 25px;   
    padding: 7px 16px;
    display: block;
}

#logo a:hover {
    color:red;
    background-color: #4e4e4e;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul li {
    float: right;
}

#visibleList {
    display: none;
    width: 25px;
    height: 25px;
    padding: 10px;
}

#navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: red;
    background-color: #4e4e4e;
}

#home {
 
    background-image: url(../img/homeBackground.png);
    background-size: cover;
    background-position: center;
    box-shadow:0 0 0 500px rgba(0, 0, 0, 0.33) inset;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center
}

#homeText {
    text-align: center;
    color: white;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
}

#homeText h1 {
    font-size: 45px;
    font-weight: 100;
    margin: 10px;
}

#homeText p {
    margin: 0;
}

#ghostButton1 {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
}

#ghostButton2 {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
}

#ghostButton1:hover {
    background-color: #4e4e4e;
}

#ghostButton2:hover {
    background-color: #4e4e4e;
}

#services {
    min-height: 570px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: space-around;
}

#servicesText {
    flex: 1 100%;
    text-align: center;
    color: #313131;
}

.servicesImg {
    float: left;
    width: 300px;
    text-align: center;
    color: #505050;
    margin:  0 30px;
}


figure {
    margin: 0 100px; 
    width: 100px;
    height: 100px;
}

figure img {
    width: 94px;
    height: 94px;
    border: solid grey;
    border-radius: 50%;
}

#thirdFigureImg {
    width: 95px;
    height: 95px;
    background-image: url(../img/EllipseSupport1.png);
    background-size: cover;
    border: solid grey;
    border-radius: 50%;
}

.firstFigureImg {
    display: table-cell;
    border-radius: 70px;
    border: solid grey;
    text-align: center;
    color: #c0301c;
    width: 110px;
    height: 95px;
    vertical-align: middle;
    margin: auto;
    font-size: 52px;
}

#paralax {
    height: 370px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/paralax1.png);
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow:0 0 0 500px rgba(256, 0, 0, 0.33) inset;
}

#paralaxContainer {
    width: 550px;
    color: white;
    text-align: center;
}

/* ------------------------ Section PORTFOLIO ---------------------*/
#navbar2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#navbar2 ul li {
    display: inline-block;
}

#works {
    display: none;
}

#worksNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px 0;
}

#worksNav h3 {
    flex: 1 100%;
    text-align: center;
}

#worksNav #navbar2 {
    flex: 1 100%;
}

#navbar2 ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

#navbar2 ul li a:hover {
    color: red;
    background-color: #4e4e4e;
}

.worksImgContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px 0;
    
}

.worksImgPair {
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
    justify-content: center;
    
}

.worksImg {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 350px;
    height: 350px;
    margin: 10px;
}



#img1 {background-image: url(../img/work1.png); background-size: cover; background-position: center;}
#img2 {background-image: url(../img/work2.png); background-size: cover; background-position: center;}
#img3 {background-image: url(../img/work3.png); background-size: cover; background-position: center;}
#img4 {background-image: url(../img/work4.png); background-size: cover; background-position: center;}
#img5 {background-image: url(../img/work5.png); background-size: cover; background-position: center;}
#img6 {background-image: url(../img/work6.png); background-size: cover; background-position: center;}
#img7 {background-image: url(../img/work7.png); background-size: cover; background-position: center;}
#img8 {background-image: url(../img/work8.png); background-size: cover; background-position: center;}
#img9 {background-image: url(../img/work9.png); background-size: cover; background-position: center;}

.ghostButton3 {
    display: none;
    width: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -70px;
    padding: 15px;
    color: #f50e0e;
    background-color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.ghostButton3:hover {
    background-color: #777777;
}

#img1:hover {
    box-shadow: 0 0 0 300px rgba(256, 0, 0, 0.33) inset;
}
#img1:hover .ghostButton3 {
    display: block;
}

#img2:hover {
    box-shadow: 0 0 0 300px rgba(256, 0, 0, 0.33) inset;
}
#img2:hover .ghostButton3 {
    display: block;
}

#img3:hover {
    box-shadow: 0 0 0 300px rgba(256, 0, 0, 0.33) inset;
}
#img3:hover .ghostButton3 {
    display: block;
}

#img4:hover {
    box-shadow: 0 0 0 300px rgba(256, 0, 0, 0.33) inset;
}
#img4:hover .ghostButton3 {
    display: block;
}

#img5:hover {
    box-shadow: 0 0 0 300px rgba(256, 0, 0, 0.33) inset;
}
#img5:hover .ghostButton3 {
    display: block;
}

#img6:hover {
    box-shadow: 0 0 0 300px rgba(256, 0, 0, 0.33) inset;
}
#img6:hover .ghostButton3 {
    display: block;
}

#img7:hover {
    box-shadow: 0 0 0 300px rgba(256, 0, 0, 0.33) inset;
}
#img7:hover .ghostButton3 {
    display: block;
}

#img8:hover {
    box-shadow: 0 0 0 300px rgba(256, 0, 0, 0.33) inset;
}
#img8:hover .ghostButton3 {
    display: block;
}

#img9:hover {
    box-shadow: 0 0 0 300px rgba(256, 0, 0, 0.33) inset;
}
#img9:hover .ghostButton3 {
    display: block;
}



#formContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}

#formHeader {
    flex: 1 100%;
    text-align: center;
    margin: 30px 0;
}

.firstInputPair {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 100%;
}
.secondInputPair {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 100%;
}
.thirdInputPair {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 100%;
}

.inputFormClass {
    width: 320px;
    height: 25px;
    margin: 10px;
}

#textareaFormClass {
    width: 100%;
    height: 55px;
    margin: 10px;
}


footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 300px;
    background-color: #c0301c;
    align-content: center;
}

#social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 100%;
    margin: 20px;
}

.socialContainer {
    width: 55px;
    height: 55px;
    margin: 15px;
    background-image: url(../img/social.png);
}

.socialImg1 {background-position: 0px -67px;}
.socialImg1:hover {background-position: 0px 0;}

.socialImg2 {background-position: -60px 55px;}
.socialImg2:hover {background-position: -60px 0;}

.socialImg3 {background-position: -120px 55px;}
.socialImg3:hover {background-position: -120px 0;}

.socialImg4 {background-position: -183px 55px;}
.socialImg4:hover {background-position: -183px 0;}


#footerText {
    flex: 1 100%;
    text-align: center;
    margin: 20px;
}
/* ------------------------  MAX WIDTH < 950px  --------------------------------- */


@media all and (max-width: 950px){

#navbar ul li a {
    padding: 14px 4px;
    font-size: 14px;
} 
    
}


/* ------------------------  MAX WIDTH < 650px  --------------------------------- */


@media all and (max-width: 650px) {

#visibleList {
    display: block;
}
    
#visibleList:hover {
    background-color: brown;
}
    
#navbar ul {
    float: right;
}
    
#navbar ul li {
    clear: both;
}
    
.invisibleList {
    display: none;
}
    
#navbar ul:hover .invisibleList {
    display: block;
}

#homeText h1 {
    font-size: 35px;    
}
    
}